
.boxes{
    animation-name: float;
    animation-duration: 4s;  animation-iteration-count: infinite;

    color: #fff;

}

@keyframes float{
    from { transform: translateY(0px); }
    50%  { transform: translateY(10px); }
    to   { transform: translateY(-0px); }
}